name: Bench

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - name: Bench
        uses: actions-rs/cargo@v1
        with:
          command: bench
          args: --all-features

  tpch-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
      - name: Run TPC-H test
        run: ./tests/tpch-full.sh
